<!DOCTYPE html>
<html lang="ru" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8" />
<title>wecommerce</title>
<link type="text/css" rel="stylesheet" href="style/bancomat.css" />
<script  src="{{ app.request.basepath }}web/js/wecommerce.js"></script>
</head>
<body>
    wecommerce
</body>
</html>