<!DOCTYPE html>
<html lang="ru" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8" />
<title>wecommerce</title>
<script  src="{{ app.request.basepath }}web/js/jquery-1.11.1.min.js"></script>
<script  src="{{ app.request.basepath }}web/js/wecommerce.js"></script>
<script>
   var opt = {
       idshop:'111',
       shop:'Магазин Одежды',
       idBanner:'forBanner'
   } 
  
</script>
</head>
<body>
    <a href="#" onclick=" wecommerce.init(opt);">Получить скидочный купон в ресторан</a>
    <div id="forBanner"></div>
</body>
</html>